ol li {
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

img {
  max-width: 430px;
  max-height: 430px;
}

a {
  color:darkred;
}

a:visited {
  color: darkred;
}

p {
  width: 920px;
  margin: 20px auto;
}